@import "/resources/inter/inter.css";

::-moz-selection {
  color: #FFF;
  background: #000;
}

::selection {
  color: #FFF;
  background: #000;
}

br {
  user-select: none;
}

pre {
  padding: 1vw 1vh;
  border: 1px solid black;
  overflow-x: auto;
  margin: 0;
}

hr {
  border: none;
  height: 2px;
  background-color: #000;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

table, th, td { 
  border: 1px solid black;
  font-family: monospace;
}

th, td {
  text-align: center;
}

td {
  color: #212121;
}

img {
  user-select: none;
  max-height: 25vh;
	max-width: 65%;
  filter: grayscale(100%);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

html {
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: "Inter";
}

main {
  margin-top: 2vh;
  padding-bottom: 10vh;
}

#logo {
  max-height: 15vh;
}

header {
  padding-bottom: 2vh;
  display: flex;
}

header a {
  text-decoration: none;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header ul {
  list-style: none;
  padding-inline-start: 0;
  padding-right: 2rem;
}

footer {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  display: flex;
  align-items:center;
  text-align: right;
}

footer > * {
  margin-left: 1vw;
}

footer img {
  height: 3vh;
}

article:not(:last-of-type) {
  padding-bottom: 2vh;
}

article:not(:first-of-type) {
  padding-top: 2vh;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1vh;
}

.accent {
  font-weight: bold;
}

.title {
  border: none;
  user-select: none;
  font-size: 0.65rem;
}

/* https://feeds.land */
.delete:hover {
  cursor: pointer;
}

@media print {
  img {
    display: none;
  }
  
  .print-calendar {
    display: flex;
    flex-direction: row;
  }

  .print-calendar .column-1 {
    width: min-content;
    padding-right: 1vw;
  }

  header, footer, #leap-year, #non-print-header {
    display: none;
  }
}
