::-moz-selection {
  color: #000;
  background: #FFE551;
}

::selection {
  color: #000;
  background: #FFE551;
}

br {
  user-select: none;
}

pre {
  padding: 1vw 1vh;
  border: 1px solid #FFF;
  color: #FFE551;
  overflow-x: auto;
}

hr {
  border: none;
  background-color: #FFF;
  height: 2px;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

table, th, td { 
  border: 1px solid #FFF;
  font-family: monospace;
}

th, td {
  text-align: center;
}

td {
  color: #FFE551;
}

img {
  user-select: none;
	max-width: 100%;
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  color: #FFE551;
  cursor: pointer;
}

html {
  background: #000;
  color: #FFF;
  width: 100%;
  position: relative;
  min-height: 100%;
}

main {
  margin-top: 2vh;
  padding-bottom: 10vh;
}

header {
  padding-bottom: 2vh;
}

footer {
  position: absolute;
  bottom: 2vh;
}

article:not(:last-of-type) {
  padding-bottom: 2vh;
}

article:not(:first-of-type) {
  padding-top: 2vh;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  color: #FFE551;
  padding-bottom: 1vh;
}

.accent {
  color: #FFE551;
  font-weight: bold;
}

.title {
  border: none;
  user-select: none;
  font-size: 0.65rem;
}
