::-moz-selection {
  color: #FFF;
  background: #000;
}

::selection {
  color: #FFF;
  background: #000;
}

br {
  user-select: none;
}

pre {
  padding: 1rem 1rem;
  border: 1px solid black;
  overflow-x: auto;
  margin: 0;
  font-family: Jetbrains Mono, monospace;
  font-size: 0.8rem;
}

code {
  font-family: Jetbrains Mono, monospace;
  font-size: 0.8rem;
}

hr {
  border: none;
  height: 2px;
  background-color: #000;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

table, th, td { 
  border: 1px solid black;
  font-family: Jetbrains Mono, monospace;
  font-size: 0.8rem;
}

th, td {
  text-align: center;
}

td {
  color: #212121;
}

img:not(footer > a > img) {
  user-select: none;
  max-height: 25rem;
	max-width: 65%;
  filter: grayscale(100%);
}

a {
  color: inherit;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

html {
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: Inter, Arial, Helvetica, sans-serif;
}

main {
  margin-top: 2rem;
  padding-bottom: 10rem;
}

header {
  padding-bottom: 2rem;
  display: flex;
  align-items: flex-start;
}

header a {
  text-decoration: none;
}

#logo {
  max-width: 6.5rem;
  margin-right: 1rem;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header ul {
  list-style: none;
  padding-inline-start: 0;
  padding-right: 1rem;
}

footer {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
  vertical-align: middle;
}

footer > * {
  margin-left: 0.5rem;
  position: relative;
  top: 50%;
}

footer > a {
  width: min-content;
  height: min-content;
  text-align: right;
}

footer > a > img {
  user-select: none;
  filter: grayscale(100%);
}

#webring {
  height: 2rem;
}

#sourcehut {
  width: auto;
  height: 1.5rem;
}

#mastodon {
  width: auto;
  height: 1.5rem;
}

article:not(:last-of-type) {
  padding-bottom: 2rem;
}

article:not(:first-of-type) {
  padding-top: 2rem;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.accent {
  font-weight: bold;
}

.title {
  border: none;
  user-select: none;
  font-size: 0.65rem;
}

/* https://feeds.land */
.delete:hover {
  cursor: pointer;
}

@media print {
  img {
    display: none;
  }
  
  .print-calendar {
    display: flex;
    flex-direction: row;
  }

  .print-calendar .column-1 {
    width: min-content;
    padding-right: 1rem;
  }

  header, footer, #leap-year, #non-print-header {
    display: none;
  }
}
