::-moz-selection {
  color: #212121;
  background: #fff;
}

::selection {
  color: #212121;
  background: #fff;
}

br {
  user-select: none;
}

pre {
  padding: 1rem 1rem;
  border: 1px solid #fff;
  overflow-x: auto;
  margin: 0;
  font-family: inherit;
  font-size: 0.8rem;
}

code {
  font-family: inherit;
  font-size: 0.8rem;
}

hr {
  border: none;
  height: 2px;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  max-width: 100%;
}

table, th, td { 
  border: 1px solid #fff;
  font-size: 0.8rem;
}

th, td {
  text-align: center;
}

td {
  color: #fff;
}

img:not(footer > .right > a > img) {
  user-select: none;
  max-height: 25rem;
	max-width: 65%;
  filter: grayscale(100%);
}

a {
  color: #fff;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .subtitle {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #fff;
  text-decoration: none;
}

header, footer, .body {
  font-size: 1.1rem;
}

html {
  width: 100%;
  position: relative;
  min-height: 100%;
  font-family: monospace;
  letter-spacing: 0.02rem;
  background-color: #212121;
  color: #e0e0e0;
}

main {
  margin-bottom: 10rem;
}

header {
  margin-bottom: 2rem;
}

header a {
  text-decoration: none;
  color: #fff;
}

header nav {
  display: flex;
  flex-wrap: wrap;
}

header ul {
  list-style: none;
  padding-inline-start: 0;
  padding-right: 1rem;
}

header hr {
  margin-bottom: 2rem;
}

footer {
  position: absolute;
  height: auto;
  bottom: 1rem;
  margin: auto;
  width: calc(100% - 20px);
}

footer .left {
  position: relative;
  top: 50%;
  float: left;
}

footer .right {
  position: relative;
  top: 50%;
  float: right;
}

footer > .right > a {
  width: min-content;
  height: min-content;
  text-decoration: none;
}

article:not(:last-of-type) {
  padding-bottom: 2rem;
}

article:not(:first-of-type) {
  padding-top: 2rem;
}

.accent {
  font-weight: bold;
}

/* https://feeds.land, https://crate.land */
.title {
  border: none;
  user-select: none;
  font-size: 0.65rem;
}

.delete:hover {
  cursor: pointer;
}

@media print {
  html {
    color: #000;
  }

  img {
    display: none;
  }

  table {
    border-collapse: collapse;
    max-width: 100%;
  }
  
  table, th, td { 
    border: 1px solid #000;
    font-size: 0.8rem;
  }
  
  th, td {
    text-align: center;
  }
  
  td {
    color: #000;
  }
  
  .print-calendar {
    display: flex;
    flex-direction: row;
  }

  .print-calendar .column-1 {
    width: min-content;
    padding-right: 1rem;
  }

  header, footer, #leap-year, #non-print-header {
    display: none;
  }
}
