@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    background-color: #101010;
}

::selection {
    color: #101010;
    background-color: #c4c4c4;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13fr;
    grid-auto-columns: 1fr;
    gap: 0px 1em;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "x";
}

@media only screen and (max-width: 600px) {
    .x .box {
        width: calc(100% - 10vh);
    }

    .header .title {
        left: 3vh;
    }

    .header .github {
        right: 3vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
    .x .box {
        width: calc(75% - 10vh);
    }

    .header .title {
        left: 5vh;
    }

    .header .github {
        right: 5vh;
    }
}

@media only screen and (min-width: 1200px) {
    .x .box {
        width: calc(35% - 10vh);
    }

    .header .title {
        left: 5vh;
    }

    .header .github {
        right: 5vh;
    }
}

.header {
    grid-area: header;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-bottom: 1px solid #424242;
}

.header .title {
    font-family: Space Grotesk;
    font-size: 2.5vh;
    color: #c4c4c4;

    position: inherit;
    top: 50%;
    transform: translateY(-50%);
}

.header .github {
    font-family: Space Mono;
    font-size: 1.75vh;
    color: #696969;

    position: inherit;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
}

.header .github:hover {
    color: #c4c4c4;

    cursor: pointer;
}

.x {
    grid-area: x;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    margin-bottom: 0.5vh;
}

.x .box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: max-content;

    margin-top: 3vh;
    padding: 2vh;
    border: 1px solid #424242;
    border-radius: 0.5vh;
}

.x .box:last-child {
    margin-bottom: 3vh;
}

.x .box .tag {
    font-family: Space Mono;
    color: #696969;
    font-size: 1.5vh;
}

.x .box .content {
    font-family: Inter;
    color: #c4c4c4;
    font-size: 2vh;
    margin-top: 1vh;
    max-width: 100%;
    overflow-wrap: break-word;
}

.x .box .content a {
    font-size: 1.85vh;
    font-family: Space Mono;
    color: #ffcf96;
}

.x .box .content a:hover {
    text-decoration: underline;
}