@import url('https://fonts.googleapis.com/css2?family=Noto+Emoji:wght@300;400;500;600;700&display=swap');

html {
    background-color: #f0f0f0;
    font-family: monospace;
}

::selection {
    background-color: #ffe551;
}

a {
    color: inherit;
    text-decoration: inherit;
}

main {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 13fr;
    grid-auto-columns: 1fr;
    gap: 0 1em;
    grid-auto-flow: row;
    grid-template-areas:
        "header"
        "x";
}

@media only screen and (max-width: 600px) {
    .x .box {
        width: calc(100% - 10vh);
    }

    .header .logo {
        height: 3.5vh;
        right: 3vh;
    }

    .header .links {
        left: 3vh;
    }

    .header .links > a {
        font-size: 1.6vh;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1199px) {
    .x .box {
        width: calc(75% - 5vh);
    }

    .header .logo {
        height: 4vh;
        right: 5vh;
    }

    .header .links {
        left: 5vh;
    }

    .header .links > a {
        font-size: 1.75vh;
    }
}

@media only screen and (min-width: 1200px) {
    .x .box {
        width: calc(65% - 10vh);
    }

    .header .logo {
        height: 4vh;
        right: 5vh;
    }

    .header .links {
        left: 5vh;
    }

    .header .links > a {
        font-size: 1.8vh;
    }
}

.header {
    grid-area: header;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border-bottom: 1px solid #000;
}

.header .logo {
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
}

.header .links {
    position: inherit;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: row;
    gap: 1vh;
}

.header .links > a {
    padding: 0.5vh 2vw;

    border: 1px solid #000;
    border-radius: 2vh;

    cursor: pointer;
}

.header .links > .active {
    color: #000;
    background-color: #ffe551;

    pointer-events: none;
}

.header .links > a:hover {
    color: #f0f0f0;
    background-color: #000;
}

.header .links > a .arrow {
    font-family: Noto Emoji;
}

.x {
    grid-area: x;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    margin-bottom: 0.5vh;
}

.x .box {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: max-content;

    display: inline-block;

    margin-top: 1vh;
    padding: 1vh;
    border-radius: 0.5vh;
}

.x .box:last-child {
    margin-bottom: 3vh;
}

.x .box .tag {
    font-size: 1.75vh;
}

.x .box .content .me {
    width: 100%;
}

.x .box .content .body {
    font-size: 1.5vh;
    margin-top: 1vh;
    max-width: 100%;
    overflow-wrap: break-word;
}

.x .box .content .body a {
    text-decoration: underline;
}

.x .box .content .body a:hover {
    color: #000;
}

.x .box .content .title {
    font-size: 10vh;

    text-align: left;
}

.x .box .content .description {
    font-size: 1.5vh;

    text-align: left;
}

.x .box .content .socials {
    margin-top: 2vh;
    text-align: left;
    font-size: 1.5vh;
    color: #424242;
}

.x .box .content .socials a {
    font-size: 1.5vh;
    color: #424242;
}

.x .box .content .socials a:hover {
    color: #000;
}

.x .source {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3vh;
}

.x .source a {
    text-decoration: underline;
}